/* resets */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  overflow-x: hidden;
}

#wrapper {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 5rem;
}

text {
  font-family: 'Noto Serif SC', serif;
  font-size: 13px;
}

#title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #333;
}

polyline {
  fill: #ccc;
  stroke-width: 0.5px;
}

ellipse {
  fill: #999;
}

polyline,
ellipse {
  stroke: #000;
  stroke-miterlimit: 10;
}

.tooltip {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 15px;
  min-width: 400px;
  text-align: left;
  color: white;
}

#plume-group path {
  transform-origin: 50% bottom 0;
}

@supports (position: -webkit-sticky) {
  #plume-group {
    transform: translate(28%, 0%);
  }
}
