/* resets */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-family: "Noto Serif SC", serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

#bottomText {
  font-size: 12px;
}

.container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
}

#wrapper {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 5rem;
}

svg {
  margin: 0 auto;
}

text {
  font-size: 13px;
}

polyline {
  fill: #ccc;
  stroke-width: 0.5px;
}

ellipse {
  fill: #999;
}

polyline,
ellipse {
  stroke: #000;
  stroke-miterlimit: 10;
}

.tooltip {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 15px;
  min-width: 400px;
  text-align: left;
  color: white;
}

#plume-group path {
  transform-origin: 50% bottom 0;
}

@supports (position: -webkit-sticky) {
  #plume-group {
    transform: translate(28%, 0%);
  }
}

@media (max-width: 550px) {
  .container {
    margin: 0;
    margin-left: 2.5%;
    text-align: left;
  }
}
